:root{
  /* Green */
  --green-light: #42ec9a;
  --green-primary: #00a868;
  --green-dark: #00734d;

  /* Dark */
  --dark-primary: #20252a;
  --dark-secondary: #31383f;
  --dark-border-opacity: #31383f67;

  /* Light */
  --light-priamry: #ffffff;
  --light-secondary: #f7f9fd;
  --light-tertiary: #eff4f8;
  --light-quaternary: #e8e8e8;
}


html, body{
  background-color: var( --dark-primary);

  color: var(--light-quaternary);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}

.title__{
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  width: 200px;
  margin-bottom: 50px;
}

.container {
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__tarefas{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
  justify-content: space-around;  
}
.input__tarefas button{
  width: 200px;
  height: 40px;
  border-radius: 90px;
}

.input__tarefas textarea{
  outline: 1px solid #00000084;
  border: none;
  padding: 10px;
  background: var(--dark-secondary);
  border-radius: 10px;
  height: 200px;
  width: 30vh;
  max-height: 200px;
  max-width: 400px;
  text-align: center;
  color: var(--light-secondary);
  font-size: 20px;

  margin-bottom: 30px;
}
.input__tarefas textarea:focus{
  padding: 10px;
  outline: none;
}


.tarefas__{
  display: flex;
  flex-direction: column-reverse;
}

.tarefa__div{
  padding: 14px 0;
}

.tarefa__li{  
  width: 30vh;
  padding: 30px;
  border: 1px solid var(--dark-secondary);
  border-radius: 10px;
  margin-top: 20px;
  
  overflow-wrap: break-word;
}


.tarefa__footer{
  display: flex;
  justify-content: space-between;
}
.tarefa__data{
  font-size: 10px;
  font-weight: 400;
  color: #e8e8e893;
  display: flex;
  
}

.tarefa__remove{

  cursor: pointer;
  width: 20px;
  height: 20px;
 
  display: flex;
  justify-content: flex-end;

  background-image: url(../assents/img/trashWhite.svg);
}

.tarefa__remove:hover{
  background-image: url(../assents/img/trashWhite2.svg);
}
